extends layout

block content
  h1= title

  - let aquaid = toShow._id
  - let aquaname = toShow.name
  - let aquatype = toShow.type
  - let aquacost = toShow.cost
  div
    div.row
      div(class='aquaAttr mr-3') aqua ID is:
      div #{aquaid}
    div.row
      div(class='aquaAttr mr-3') aqua Type is:
      div #{aquaname}
    div.row
      div(class='aquaAttr mr-3') aqua Size is:
      div #{aquatype}
    div.row
      div(class='aquaAttr mr-3') aqua Cost is:
      div #{aquacost}
