extends layout

block content
  h1= title
  if toshow == null
   h2 no instance to display 
  else
    - let aquaid = toShow._id
    - let aquaname = toShow.name
    - let aquatype = toShow.type
    - let aquacost = toShow.cost
    div
      div.row
        div(class='detail') aqua ID is:
        div #{aquaid}
      div.row
        div(class='detail') aqua Type is:
        div #{aquaname}
      div.row
        div(class='detail') aqua Size is:
        div #{aquatype}
      div.row
        div(class='detail') aqua Cost is:
        div #{aquacost}
